/** projects.css
    by Akhil
**/

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.page-title {
    font-family: Verdana, Geneva, sans-serif;

}

.affix {
  position: relative;
}

.affix-bottom {
  margin-top: 100px;
  position: relative;
  top: 0;
}

.project-names {
}
.project-names .active {
    border-style: dashed;
    border-left-style: solid;
    color: #68228B;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

.project-names .active>a {
  color: #68228B;
}

/**** Size Dependent Stuff  **********/

/* Large desktop */
@media (min-width: 1239px) {
    .page-title {
        font-size: 100px;
    }

  .affix {
    width: inherit;
    position: fixed;
    top: 62px;
    margin-top: 0px;
  }
  .affix-bottom {
    width: inherit;
    position: absolute;
    top: auto;
    bottom: 20px;
    margin-top: 0px
  }
  .affix-top {
      padding-top: 20px;
  }
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1238px) {
    .page-title {
        font-size: 85px;
    }

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .page-title {
        font-size: 55px;
    }

}
 
/* Landscape phones and down */
@media (max-width: 480px) {
    .page-title {
        font-size: 30px;
    }

}